html,
body {
  position: relative;
  height: 100%;
  margin: 0 !important;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.swiper.cafeSwiper {
  width: 320px !important;
  height: 520px !important;
  overflow: hidden;
}
.swiper.cafeSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
  padding: 20px;
}
 .swiper-3d .swiper-slide-shadow{
  background: none !important;
}
.swiper.cafeSwiper .product-image-wrapper{
  width: 100%;
  overflow: hidden;
}
.swiper.cafeSwiper .product-title{
  margin: 0 !important;
}
.swiper.cafeSwiper .product-image-wrapper img{
  width: 100%;
  object-fit: cover;
}
.swiper.cafeSwiper .product-content{
  display: flex ;
  flex-direction: column;
  height: 100%;
}
.swiper.cafeSwiper .swiper-button-next{
  position:absolute !important;
  bottom: -40px !important;
  left:50% !important;
  transform: translateX(-50%) !important;
}
.swiper.cafeSwiper .product-price p , .swiper.cafeSwiper .product-caption p{
  margin-bottom:0px !important;
}
.swiper.cafeSwiper .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
  right:0 !important
}
.swiper.cafeSwiper span.swiper-pagination-bullet{
  background-color: inherit !important;
  position: relative !important;
  border: 1px solid #222831 !important;
  padding:1px !important;
}
.swiper.cafeSwiper span.swiper-pagination-bullet::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #222831;
  border-radius: 50%;
  width: 60%;
  height: 60%;
}
.product-caption p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.content-wrapper , .detail-wrapper{
  display: flex;
  flex-direction: column;
  gap:3px;
}